body {
    text-align: center;
}

#display {
    height:600px;
}

.dot {
    display: inline-block;
}

#b {
    display: none;
}

#container {
    display: flex;
}

.intro {
    display: inline-block;
    flex: 1;
    margin:1px;
    padding:5px;
    line-height: 1.5;
}

#help {
    margin-left:10px;
    text-align: left;
}

ul {
    margin-top:-3px;
}