h1 {
    color: blue;
}

#board {
    width:662px;
    height:662px;
    border: 2px solid black;
    padding: 0px;
    text-align: center;
}

.cell {
    width: 20px;
    height: 20px;
    margin-left:1px;
    margin-right:1px;
    display:inline-block;
    border: solid 2px black;
    border-radius: 2px;
}