body {
    line-height: 1.5;
    text-align: center;
    font-size: 17px;
<<<<<<< HEAD
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,203,140,1) 18%, rgba(162,134,177,1) 80%, rgba(7,52,61,1) 100%);
=======
>>>>>>> 4d20eaa4a9e72c1cbf3fa40d1d34c4850432046a
}

#title {
    font-size: 50px;
    font-weight: bold;
    height:80px;
    transition: height 2s;
}

#help {
    border-radius: 50%;
    width:30px;
    height:30px;
    transition: background-color 0.5s ease-in-out;
<<<<<<< HEAD
    background-color: red;
=======
>>>>>>> 4d20eaa4a9e72c1cbf3fa40d1d34c4850432046a
}

#help:hover {
    background-color: orange;
}

#textHelp {
    border: 2px solid black;
    width: 700px;
    font-size: 17px;
    font-weight: normal;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
}

a {
    text-decoration: none;
    color: red;
}



<<<<<<< HEAD
=======

>>>>>>> 4d20eaa4a9e72c1cbf3fa40d1d34c4850432046a
#board {
    text-align:center;
}

.cell {
    width: 20px;
    height: 20px;
    margin:1px;
<<<<<<< HEAD
    margin-bottom: -5px;
=======
    margin-bottom: 0px;
>>>>>>> 4d20eaa4a9e72c1cbf3fa40d1d34c4850432046a
    margin-top: 0px;
    display:inline-block;
    border: solid 2px black;
    border-radius: 2px;
}

.cell:hover {
    border: solid 2px rgb(192, 192, 14);
}

#butcontainer {
    text-align:center;
}

.button {
    display: inline-block;
    width:200px;
    height:50px;
    margin:10px;
    padding-top:3px;
    border: solid 2px black;
    border-radius: 5px;
    user-select: none;
    font-size: 30px;
}

#start-button {
    background-color: lightgreen;
}

#start-button:hover {
    background-color: rgb(81, 222, 81);
}

#end-button {
    background-color: red;
}

#end-button:hover {
    background-color: rgb(235, 40, 40);
}

<<<<<<< HEAD
#clear-button {
    background-color: lightgray;
}

#clear-button:hover {
    background-color: gray;
}

input, select {
    border-radius: 5%;
    background-color:lightblue;

}
=======
#clear-button:hover {
    background-color: lightgray;
}
>>>>>>> 4d20eaa4a9e72c1cbf3fa40d1d34c4850432046a
