#home img {
    position:fixed;
    top:1%;
    left:1%;
    width:50px;
    height:50px;
    border-radius: 10%;
    border:2px black solid;
    cursor: pointer;
}

#home img:last-child {
    display: none;  
}
#home:hover img:last-child {
    display: block;  
}
#home:hover img:first-child {
    display: none;  
}

body {
    background-color: wheat;
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    height:80px;
    transition: height 2s;
}

#help {
    border-radius: 50%;
    width:30px;
    height:30px;
    transition: background-color 0.5s ease-in-out;
    background-color: red;
}

#help:hover {
    background-color: orange;
}

#textHelp {
    border: 2px solid black;
    width: 700px;
    font-size: 17px;
    font-weight: normal;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
    background-color: orange;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#board {
    text-align:center;
}

.cell {
    width: 20px;
    height: 20px;
    margin:1px;
    margin-bottom: -5px;
    margin-top: 0px;
    display:inline-block;
    border: solid 2px black;
    border-radius: 2px;
}

.cell:hover {
    border: solid 2px rgb(192, 192, 14);
}

#butcontainer {
    text-align:center;
}

.button {
    display: inline-block;
    width:200px;
    height:50px;
    margin:10px;
    padding-top:3px;
    border: solid 2px black;
    border-radius: 5px;
    user-select: none;
    font-size: 30px;
}

#start-button {
    background-color: lightgreen;
}

#start-button:hover {
    background-color: rgb(81, 222, 81);
}

#end-button {
    background-color: red;
}

#end-button:hover {
    background-color: rgb(235, 40, 40);
}

#clear-button {
    background-color: lightgray;
}

#clear-button:hover {
    background-color: gray;
}

input, select {
    border-radius: 5%;
    background-color: gold;
}
